{% extends 'account/base.html' %}{% block title %}<title>
  評価マトリクス投稿/編集-アイディア発想支援
</title>
{% endblock title %}
<!--ヘッダー-->
{% block header %}
<a class="navbar-brand" href="">アイディア評価マトリクスの投稿/編集</a>
{% endblock header%} {% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <table class="table">
    {{form.as_table}}
  </table>
  <a
    class="btn btn-outline-secondary"
    href="{% url 'matrix:list' %}"
    role="button"
    >戻る</a
  >
  <input class="btn btn-primary" type="submit" value="送信" />
</form>
{% endblock content %}
