{% extends 'account/base.html' %}{% block title %}<title>
  評価マトリクス-合意形成支援
</title>
{% endblock title %}
<!--ヘッダー-->
{% block header %}
<p>
  <span id="page-title">アイディア評価マトリクス</span>
  　　　アイディアに対して、評価基準をもとに議論を行い内容を入力しましょう。
  <a
  class="btn btn-secondary"
  href="{% url 'account:top' %}#jump_matrix"
  role="button"
  >ヘルプ</a
</p>
{% endblock header %} {% block content %}

<div class="container">
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-color">
      <tr>
        <th scope="col">アイディア</th>
        <th scope="col">評価基準</th>
        <th scope="col">コメントの種類</th>
        <th scope="col">コメントの内容</th>
        <th>user</th>
        <th></th>
        <th>
          <a
            class="btn btn-primary"
            href="{% url 'matrix:create' %}"
            role="button"
            >新規作成</a
          >
        </th>
      </tr>
    </thead>
    <tbody>
      {% for matrix in matrixes %}
      <!--コメントタイプでif-->
      {% if matrix.get_comment_type_display == 'ポジティブ' %}
      <tr class="table-warning">
        <td>{{ matrix.ref_idea}}</td>
        <td>{{ matrix.ref_standard}}</td>
        <!--コメントタイプのvalueを表示させる-->
        <td>{{ matrix.get_comment_type_display}}</td>
        <td>{{ matrix.comment_content}}</td>
        <td>{{ matrix.create_user}}</td>
        <td>
          <a
            class="btn btn-outline-primary"
            href="{% url 'matrix:update' matrix.pk %}"
            role="button"
            >編集</a
          >
        </td>
        <td>
          <a
            class="btn btn-danger"
            href="{% url 'matrix:delete' matrix.pk %}"
            role="button"
            >削除</a
          >
        </td>
      </tr>
      {% elif matrix.get_comment_type_display == 'ネガティブ' %}
      <tr class="table-primary">
        <td>{{ matrix.ref_idea}}</td>
        <td>{{ matrix.ref_standard}}</td>
        <!--コメントタイプのvalueを表示させる-->
        <td>{{ matrix.get_comment_type_display}}</td>
        <td>{{ matrix.comment_content}}</td>
        <td>{{ matrix.create_user}}</td>
        <td>
          <a
            class="btn btn-outline-primary"
            href="{% url 'matrix:update' matrix.pk %}"
            role="button"
            >編集</a
          >
        </td>

        <td>
          <a
            class="btn btn-danger"
            href="{% url 'matrix:delete' matrix.pk %}"
            role="button"
            >削除</a
          >
        </td>
      </tr>
      {% else %}
      <tr class="table-danger">
        <td>{{ matrix.ref_idea}}</td>
        <td>{{ matrix.ref_standard}}</td>
        <!--コメントタイプのvalueを表示させる-->
        <td>{{ matrix.get_comment_type_display}}</td>
        <td>{{ matrix.comment_content}}</td>
        <td>{{ matrix.create_user}}</td>
        <td>
          <a
            class="btn btn-outline-primary"
            href="{% url 'matrix:update' matrix.pk %}"
            role="button"
            >編集</a
          >
        </td>
        <td>
          <a
            class="btn btn-danger"
            href="{% url 'matrix:delete' matrix.pk %}"
            role="button"
            >削除</a
          >
        </td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content%}
