{% extends 'account/base.html' %}{% block title %}
<title>評価基準の削除-アイディア発想支援</title> {% endblock title %}
<!--ページ見出し-->
{% block header %}
<span id="page-title">評価基準の削除</span>
{% endblock header%} {% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <table class="table">
    <h3>「{{standard.standard}}」を削除します。</h3>
  </table>
  <a
    class="btn btn-outline-secondary"
    href="{% url 'standard:list' %}"
    role="botton"
    >戻る</a
  >
  <input class="btn btn-danger" type="submit" value="delete" />
</form>
{% endblock content%}
