{% extends 'account/base.html' %}{% block title %}
<title>評価基準一覧-アイディア発想支援</title> {% endblock title %}
<!--ページ見出し-->
{% block header %}
<p>
  <span id="page-title">評価基準一覧</span>
  　3つ程度評価基準を設定しましょう(例 新規性、独創性、実行可能性、有効性)　
  <a
    class="btn btn-secondary"
    href="{% url 'account:top' %}#jump_standard"
    role="button"
    >ヘルプ</a
  >
</p>
{% endblock header%}{% block content %}
<div class="container">
  <table class="table">
    <thead class="thead-color">
      <tr>
        <th scope="col">評価基準</th>
        <!--整形のためtbodyと要素数をそろえる-->
        <th>user</th>
        <th></th>
        <th>
          <a
            class="btn btn-primary"
            href="{% url 'standard:create' %}"
            role="button"
            >新規作成</a
          >
        </th>
      </tr>
    </thead>
    <tbody>
      {% for a in standards %}
      <tr>
        <td>{{ a.standard }}</td>
        <td>{{ a.create_user}}</td>
        <td>
          <a
            class="btn btn-outline-primary"
            href="{% url 'standard:update' a.pk %}"
            role="button"
            >編集</a
          >
        </td>
        <td>
          <a
            class="btn btn-danger"
            href="{% url 'standard:delete' a.pk %}"
            role="button"
            >削除</a
          >
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
