{% extends 'account/base.html' %} {% block header %}
<p>
  <span id="page-title">再試行の設計</span>
  　　　振り返りで定めた問題点を解決するためには、何をすべきか話し合い再試行の内容を定め、入力しましょう
</p>
{% endblock header %}
<!--このコメントは消さないで、インデントでバグる-->
{% block content %}

<div class="container">
  <table class="table caption-top">
    <caption>
      再試行の設計
    </caption>
    <thead style="background-color: aquamarine">
      <tr>
        <th scope="col">問題点</th>
        <th scope="col">再試行の内容</th>
        <th>user</th>
        <th></th>
        <th>
          <a href="{% url 'retry:create' %}">新規作成</a>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for content in contents %}
      <tr>
        <td>{{ content.ref_problem }}</td>
        <td>{{ content.content }}</td>
        <td>{{ content.create_user}}</td>
        <td><a href="{% url 'retry:update' content.pk %}">編集</a></td>
        <td><a href="{% url 'retry:delete' content.pk %}">削除</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
