{% extends 'account/base.html' %}{% block title %}<title>
  精緻化論点削除-アイディア発想支援
</title>
{% endblock title %}
<!--ヘッダー-->
{% block header %}
<span id="page-title">アイディアの精緻化論点の削除</span>
{% endblock header %} {% block content %}
<h3>「{{Issues}}」を削除します。</h3>
<form action="" method="POST">
  {% csrf_token %}
  <a
    class="btn btn-outline-secondary"
    href="{% url 'refine:list' %}"
    role="button"
    >戻る</a
  >
  <input class="btn btn-danger" type="submit" value="delete" />
</form>
{% endblock content %}
