{% extends 'account/base.html' %}{% block title %}<title>
  アイディアの精緻化投稿-アイディア発想支援
</title>
{% endblock title %}
<!--ヘッダー-->
{% block header %}
<span id="page-title">アイディアの精緻化論点の投稿</span>
{% endblock header %} {% block content %}

<form action="" method="POST">
  {% csrf_token %}
  <table class="table">
    {{form.as_table}}
  </table>
  <a
    class="btn btn-outline-secondary"
    href="{% url 'refine:list' %}"
    role="button"
    >戻る</a
  >
  <input class="btn btn-primary" type="submit" value="送信" />
</form>
{% endblock content %}
