{% extends 'account/base.html' %} {% block header %}
<p>
  <span id="page-title">アイディアの精緻化</span>
  　　　アイディアに対して指摘されそうなことを話し合い、論点を定めましょう　そして、優先順位に従い、論点について議論を行いメモを入力しましょう
</p>
{% endblock header%} {% block content %}

<div class="container">
  <table class="table caption-top">
    <caption>
      論点一覧
    </caption>
    <thead style="background-color: aquamarine">
      <tr>
        <th scope="col">論点</th>
        <th scope="col">優先順位</th>
        <th>user</th>
        <th></th>
        <th><a href="{% url 'refine:create' %}">論点の新規作成</a></th>
      </tr>
    </thead>
    <tbody>
      {% for issues in Issues %}
      <tr>
        <td>{{ issues.issues }}</td>
        <td>{{ issues.priority }}</td>
        <td>{{ issues.create_user}}</td>
        <td>
          <a href="{% url 'refine:update' issues.pk %}">論点/優先順位の編集</a>
        </td>
        <td><a href="{% url 'refine:delete' issues.pk %}">削除</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!--コメントを表示する-->
<div class="container">
  <table class="table caption-top">
    <caption>
      コメント
    </caption>
    <thead style="background-color: aquamarine">
      <tr>
        <th scope="col">論点</th>
        <th scope="col">コメントタイプ</th>
        <th scope="col">コメント内容</th>
        <th></th>
        <th><a href="{% url 'refine:c_create' %}">コメントの新規作成</a></th>
      </tr>
    </thead>
    <tbody>
      {% for issues in contents_list %}
      <tr>
        <td>{{ issues.ref_issues }}</td>
        <td>{{ issues.get_comment_type_display }}</td>
        <td>{{ issues.comment_content}}</td>
        <td>
          <a href="{% url 'refine:c_update' issues.pk %}">コメント内容の編集</a>
        </td>
        <td><a href="{% url 'refine:c_delete' issues.pk %}">削除</a></td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content%}
