{% extends 'account/base.html' %}{% block title %}<title>
  アイディアの精緻化-合意形成支援
</title>
{% endblock title %}
<!--ヘッダー-->
{% block header %}
<p>
  <span id="page-title">アイディアの精緻化</span>
  　アイディアに対して指摘されそうなことを話し合い、論点を定めましょう　そして、優先順位に従い、論点について議論を行いメモを入力しましょう 
  <a
  class="btn btn-secondary btn-sm"
  href="{% url 'account:top' %}#jump_refine2"
  role="button"
  >ヘルプ</a
</p>
{% endblock header%} {% block content %}

<div class="container">
  <table class="table caption-top">
    <caption>
      論点一覧
    </caption>
    <thead class="thead-color">
      <tr>
        <th scope="col">論点</th>
        <th scope="col">優先順位</th>
        <th>user</th>
        <th></th>
        <th>
          <a
            class="btn btn-primary btn-sm"
            href="{% url 'refine:create' %}"
            role="button"
            >論点の新規作成</a
          >
        </th>
      </tr>
    </thead>
    <tbody>
      {% for issues in Issues %}
      <tr>
        <td>{{ issues.issues }}</td>
        <td>{{ issues.priority }}</td>
        <td>{{ issues.create_user}}</td>
        <td>
          <a
            class="btn btn-outline-primary btn-sm"
            href="{% url 'refine:update' issues.pk %}"
            role="button"
            >論点/優先順位の編集</a
          >
        </td>
        <td>
          <a
            class="btn btn-danger btn-sm"
            href="{% url 'refine:delete' issues.pk %}"
            role="button"
            >削除</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!--コメントを表示する-->
<div class="container">
  <table class="table caption-top">
    <caption>
      コメント
    </caption>
    <thead class="thead-color">
      <tr>
        <th scope="col">論点</th>
        <th scope="col">コメントタイプ</th>
        <th scope="col">コメント内容</th>
        <th></th>
        <th>
          <a
            class="btn btn-primary btn-sm"
            href="{% url 'refine:c_create' %}"
            role="button"
            >コメントの新規作成</a
          >
        </th>
      </tr>
    </thead>
    <tbody>
      {% for issues in contents_list %}
      <!--コメントタイプでif-->
      {% if issues.get_comment_type_display == 'ポジティブ' %}
      <tr class="table-warning">
      {% elif issues.get_comment_type_display == 'ネガティブ' %}
      <tr class="table-primary">  
      {% else %}
      <tr class="table-danger">
      {% endif %}

        <td>{{ issues.ref_issues }}</td>
        <td>{{ issues.get_comment_type_display }}</td>
        <td>{{ issues.comment_content}}</td>
        <td>
          <a
            class="btn btn-outline-primary btn-sm"
            href="{% url 'refine:c_update' issues.pk %}"
            role="button"
            >コメント内容の編集</a
          >
        </td>
        <td>
          <a
            class="btn btn-danger btn-sm"
            href="{% url 'refine:c_delete' issues.pk %}"
            role="button"
            >削除</a
          >
        </td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content%}
