{% extends 'account/base.html' %}{% block title %}<title>
  Iディの精緻化編集-アイディア発想支援
</title>
{% endblock title %}
<!--ヘッダー-->
{% block header %}
<span id="page-title">アイディアの精緻化論点の編集と優先順位の設定</span>
{% endblock header%} {% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <table class="table">
    {{form.as_table}}
  </table>
  <a
    class="btn btn-outline-secondary"
    href="{% url 'refine:list' %}"
    role="button"
    >戻る</a
  >
  <input class="btn btn-primary" type="submit" value="送信" />
</form>
{% endblock content %}
