{% extends 'account/base.html' %}{% block title %}
<title>アイディア詳細-アイディア発想支援</title> {% endblock title %}
<!--ページ見出し-->
{% block header %}
<span id="page-title">アイディア詳細</span>
{% endblock header %} {% block content %}

<div class="card">
  <div class="card-body">
    <h2>アイディア: {{opinion.title}}</h2>
    <p>アイディアの説明: {{opinion.description}}</p>
    <p>サイクルの回数: {{opinion.cycle_num}}</p>
  </div>
</div>
<a
  class="btn btn-outline-secondary mt-2"
  href="{% url 'idea:list' %}"
  role="button"
  >戻る</a
>
{% endblock content %}
