{% extends 'account/base.html' %} {% block title %}
<title>アイディア一覧-アイディア発想支援</title> {% endblock title %}
<!--改行防ぎ-->
{% block header %}
<p>
  <span id="page-title">アイディア一覧</span>
  　アイディアを入力していきましょう　
  <a
    class="btn btn-secondary"
    href="{% url 'account:top' %}#jump_idea"
    role="button"
    >ヘルプ</a
  >
</p>

<!--改行防ぎ-->
{% endblock header %} {% block content %}

<div class="container">
  <table class="table">
    <thead style="background-color: aquamarine">
      <tr>
        <th>アイディア</th>
        <th>説明</th>
        <th>試行回数</th>
        <th>ユーザー名</th>
        <th></th>
        <th></th>
        <th>
          <a
            class="btn btn-primary"
            href="{% url 'idea:create' %}"
            role="button"
            >新規作成
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for a in idea %}
      <tr>
        <td>{{ a.title }}</td>
        <td>{{ a.description }}</td>
        <td>{{ a.cycle_num}}</td>
        <td>{{ a.create_user}}</td>
        <td>
          <a
            class="btn btn-outline-primary"
            href="{% url 'idea:detail' a.pk %}"
            role="button"
            >詳細</a
          >
        </td>
        <td>
          <a
            class="btn btn-outline-primary"
            href="{% url 'idea:update' a.pk %}"
            role="button"
            >編集</a
          >
        </td>
        <td>
          <a
            class="btn btn-danger"
            href="{% url 'idea:delete' a.pk %}"
            role="button"
            >削除</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
