{% extends 'account/base.html' %}{% block title %}
<title>投票内容の編集-合意形成支援</title> {% endblock title %}
<!--ページ見出し-->
{% block header %}
<span id="page-title">投票内容の編集</span>
{% endblock header%} {% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <table class="table">
    {{ form.as_table }}
  </table>
  <a
    class="btn btn-outline-secondary"
    href="{% url 'idea:v_list' %}"
    role="button"
    >戻る</a
  >
  <input class="btn btn-primary" type="submit" value="送信" />
</form>
{% endblock content %}
