{% extends 'account/base.html' %} {% block header %}
<p>
  <span id="page-title">アイディア投票</span
  >　　　メンバーはそれぞれ、発想されたアイディアに対し、bestを１つ、betterを一つか二つ選び、投票を押して記録しましょう
</p>
{% endblock header %} {% block content %} {% load math_tags %}
<div class="container">
  <table class="table">
    <thead style="background-color: aquamarine">
      <tr>
        <th>アイディア</th>
        <th>bestの票</th>
        <th>betterの票</th>
        <th>得点</th>
        <th>user</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for a in idea %}
      <tr>
        <td>{{ a.title }}</td>
        <td>{{ a.best_choice}}</td>
        <td>{{ a.better_choice}}</td>
        <!--カスタムテンプレートを使って計算-->
        <td>{% multiply a.best_choice a.better_choice %}</td>
        <td>{{ a.create_user}}</td>
        <td><a href="{% url 'idea:vote_update' a.pk %}">投票</a></td>

        
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        </td>
        <!--モーダル終わり-->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
