{% extends 'idea/base.html' %} {% block header %}
<h1>投票ツール</h1>
<!--このindexは後で消す-->
<td><a href="index">index</a></td>
{% endblock header %} {% block content %} {% load math_tags %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>アイディア</th>
        <th>bestの票</th>
        <th>betterの票</th>
        <th>得点</th>
      </tr>
    </thead>
    <tbody>
      {% for a in idea %}
      <tr>
        <td>{{ a.title }}</td>
        <td>{{ a.best_choice}}</td>
        <td>{{ a.better_choice}}</td>
        <!--カスタムテンプレートを使って計算-->
        <td>{% multiply a.best_choice a.better_choice %}</td>
        <td><a href="{% url 'idea:v_detail' a.pk %}">投票</a></td>
        <td>編集(未実装)</td>
        <td>
          <a href="{% url 'idea:Vote_decrease' pk=a.id %}">bestを一つ減らす</a>
        </td>
        <!--モーダルはじめ-->
        {# 以下削除ボタン #}
        <td>
          <!-- 切り替えボタンの設定 -->
          <!-- data-targetを変更している -->
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#Modal{{ a.pk }}" 
          >
            押すと表示されます。
          </button>

          <!-- モーダルの設定 -->
          <!--idを変更している-->
          <div
            class="modal fade"
            id="Modal{{ a.pk }}" 
            tabindex="-1"
            role="dialog"
            aria-labelledby="Modal"
            aria-hidden="true"
          >
            <!--以下modal-dialogのCSSの部分で modal-lgやmodal-smを追加するとモーダルのサイズを変更することができる-->
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="Modal">
                    モーダルのタイトルが表示されます
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="閉じる"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  モーダルのコンテンツを表示します。このモーダルはサイズを大きくしています。
                  またレシポンシブデザインに対応しているので画面を小さくすると、モーダルも自動で縮小されます
                  {{a.title}}
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    閉じる
                  </button>
                  <a href="{% url 'idea:Vote_decrease2' pk=a.id %}"
            >betterを一つ減らす</a
                </div>
              </div>
            </div>
          </div>

          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        </td>
        <!--モーダル終わり-->
        <td>
          <a href="{% url 'idea:Vote_decrease2' pk=a.id %}"
            >betterを一つ減らす</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
