{% extends 'account/base.html' %}
<!--このコメント消さないで!バグるよ!!!-->
{% block title %}トップページ {% endblock title %} {% block header %}
<a class="navbar-brand" href="">トップページ</a>
{% endblock header%}
<!-- コンテンツ -->
{% block content %}

<div class="container" style="background-color: #f0f8ff">
  <h3>アイディア発想支援サイトとは</h3>
  <p>
    グループディスカッションにおける、アイディア発想や意思決定を支援します。</br>
    グループで使用する場合は、書き込みを行う人は書記の役割を担っている人のみにしてください。</br>
    (ログインしたユーザーに情報が紐づけられているので他のユーザー名でログインを行うと情報が見れません。)
  </p>

  <h3>アイディア発想支援サイト使用の流れ</h3>
  <h5>ステップ1 アイディア発想</h5>
  <p>
    <span style="color: #ff0000; font-weight: bold">アイディア発想</span
    >で発想されたアイディアを入力していきます。
  </p>

  <h5>ステップ2 評価基準の設定</h5>
  <p>
    <span style="color: #ff0000; font-weight: bold">評価基準</span
    >でアイディア発想で発想されたアイディアの評価基準を設定します。
  </p>

  <h5>ステップ3 投票</h5>
  <p>
    すべてのアイディアに対して評価基準に対する議論を行うことが難しい(例:時間が足りない)と考えられる場合、ここで多数決による投票を行い、絞り込みを行います。</br>
    各メンバーに最もよい(=best)と思うものに１つ、次によい(=better)と思うものを1,2個選んでもらうようにしましょう。</br>
    メンバーのひとりはその結果を<span style="color: #ff0000; font-weight: bold">投票</span>に入力しましょう。</br>
    ※bestは2点、betterは1点換算されて結果の欄に出力されます。
    アイディアの数によりますが、得点の上位5個目安に絞り込みましょう。
  </p>

  <h5>ステップ4 評価マトリクスの作成</h5>
  <p>
    評価基準を基にアイディアに対する議論を行い、<span style="color: #ff0000; font-weight: bold"
    >評価マトリクス</span>に入力しましょう。</br>
    コメントを入力する際は、<span style="color: goldenrod; font-weight: bold"
      >コメントタイプ</span>(ポジティブ、ネガティブ)を選択して、コメント内容を入力しましょう。</br>
    また、既存するアイディアに追加の提案を行いたい場合は、コメントタイプで<span
      style="color: goldenrod; font-weight: bold"
      >追加アイディア</span
    >を選択して入力してください。
  </p>

  <h5>ステップ5 統括的分析</h5>
  <p>
    納得のいくアイディアが決まった場合はアイディアの<span
      style="color: #ff0000; font-weight: bold"
      >精緻化</span
    >に進みましょう。</br>
    納得のいくアイディアがなかった場合はアイディアの<span
      style="color: #ff0000; font-weight: bold"
      >振り返り</span
    >に進みましょう。
  </p>

  <h5>ステップ6-A アイディアの精緻化</h5>
  <p>
    アイディアの<span
    style="color: #ff0000; font-weight: bold"
    >精緻化</span>は、納得できるアイディアがあった場合に行います。</br>
    選ばれたアイディアについて深掘りすべき論点を複数設定し、その論点に対して議論を行い<span
    style="color: #ff0000; font-weight: bold"
    >精緻化</span>に入力しましょう。</br>
    この作業をすることで、アイディアのプレゼンテーションをするときに様々な質問に対して回答する準備ができます。</br>
    これが終わればアイディア発想は完了です!!! お疲れさまでした!
  </p>
  <h5>ステップ6-B-1 アイディアの振り返り</h5>
  <p>
    アイディアの<span
    style="color: #ff0000; font-weight: bold"
    >振り返り</span>は、納得できるアイディアがない場合に行います。</br>
    初めに、上の表にどうして納得のいくアイディアが出なかったのか話し合うための論点を複数設定しましょう。</br>
    次に、真ん中の表にアイディア評価マトリクスの時と同じように論点に対して、<span style="color: goldenrod; font-weight: bold"
    >コメントタイプ</span>(ポジティブ、ネガティブ)を選択し、コメントを入力しましょう。</br>
    最後は、コメントを見返し、どこに問題があったのか問題点を下の表に入力しましょう。
  </p>
  <h5>ステップ6-B-2 再試行の設計</h5>
  <p>
    アイディアの振り返りで浮かび上がった問題点を解消にするにはどのように再試行を行えばよいか議論し、<span
    style="color: #ff0000; font-weight: bold"
    >再試行の設計</span>に再試行の内容を入力しましょう
  </p>
  <h5>再試行の設計が終わったら...</h5>
  <p>
    ステップ6-B-2の再試行の内容を参照し、それを踏まえながら再試行を行いましょう。
  </p>
  <p>
    (例:ステップ1のアイディア発想からやり直す、ステップ4のアイディア評価マトリクスで追加アイディアを考える等)
  </p>
</div>
{% endblock content %}
