{% extends 'account/base.html' %}{% block title %}<title>
  振り返り削除-合意形成支援
</title>
{% endblock title %}
<!--ヘッダー-->
{% block header %}
<span id="page-title">アイディアの振り返り削除</span>
{% endblock header %} {% block content %}
<h3>「{{Issues.comment_content}}」を削除します。</h3>
<form action="" method="POST">
  {% csrf_token %}
  <a
    class="btn btn-outline-secondary"
    href="{% url 'reflect:list' %}"
    role="button"
    >戻る</a
  >
  <input class="btn btn-danger" type="submit" value="delete" />
</form>
{% endblock content %}
