{% extends 'account/base.html' %} {% block header %}
<p>
  <span id="page-title">アイディアの振り返り</span></br> アイディアを振り返りましょう。
</p>
{% endblock header %} {% block content %}
<!--論点を表示する-->
<div class="container">
  <table class="table caption-top">
    <caption>
      振り返り論点一覧
    </caption>
    <thead style="background-color: aquamarine">
      <tr>
        <th scope="col">論点</th>
        <th>user</th>
        <th></th>
        <th><a href="{% url 'reflect:create' %}">論点の新規作成</a></th>
      </tr>
    </thead>
    <tbody>
      {% for reflect in Issues %}
      <tr>
        <td>{{ reflect.issues }}</td>
        <td>{{ reflect.create_user }}</td>
        <td>
          <a href="{% url 'reflect:update' reflect.pk %}">編集</a>
        </td>
        <td><a href="{% url 'reflect:delete' reflect.pk %}">削除</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!--コメントを表示する-->
<div class="container">
  <table class="table caption-top">
    <caption>
      コメント一覧
    </caption>
    <thead style="background-color: aquamarine">
      <tr>
        <th scope="col">論点</th>
        <th scope="col">コメントタイプ</th>
        <th scope="col">コメント内容</th>
        <th>user</th>
        <th></th>
        <th><a href="{% url 'reflect:c_create' %}">コメントの新規作成</a></th>
      </tr>
    </thead>
    <tbody>
      {% for reflect in reflect_contents_list %}
      <!--コメントタイプでif-->
      {% if reflect.get_comment_type_display == 'ポジティブ' %}
      <tr class="table-warning">
        <td>{{ reflect.ref_issues }}</td>
        <td>{{ reflect.get_comment_type_display }}</td>
        <td>{{ reflect.comment_content }}</td>
        <td>{{ reflect.create_user }}</td>
        <td>
          <a href="{% url 'reflect:c_update' reflect.pk %}"
            >コメント内容の編集</a
          >
        </td>
        <td><a href="{% url 'reflect:c_delete' reflect.pk %}">削除</a></td>
      </tr>
      {% elif reflect.get_comment_type_display == 'ネガティブ' %}
      <tr class="table-primary">
        <td>{{ reflect.ref_issues }}</td>
        <td>{{ reflect.get_comment_type_display }}</td>
        <td>{{ reflect.comment_content }}</td>
        <td>{{ reflect.create_user }}</td>
        <td>
          <a href="{% url 'reflect:c_update' reflect.pk %}"
            >コメント内容の編集</a
          >
        </td>
        <td><a href="{% url 'reflect:c_delete' reflect.pk %}">削除</a></td>
      </tr>
      {% else %}
      <tr class="table-danger">
        <td>{{ reflect.ref_issues }}</td>
        <td>{{ reflect.get_comment_type_display }}</td>
        <td>{{ reflect.comment_content }}</td>
        <td>{{ reflect.create_user }}</td>
        <td>
          <a href="{% url 'reflect:c_update' reflect.pk %}"
            >コメント内容の編集</a
          >
        </td>
        <td><a href="{% url 'reflect:c_delete' reflect.pk %}">削除</a></td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>

<!--振り返り問題点の表示-->
<div class="container">
  <table class="table caption-top">
    <caption>
      問題点
    </caption>
    <thead style="background-color: aquamarine">
      <tr>
        <th scope="col">問題点</th>
        <th>user</th>
        <th></th>
        <th><a href="{% url 'reflect:p_create' %}">問題点の新規投稿</a></th>
      </tr>
    </thead>
    <tbody>
      {% for reflect in problem_contents_list %}
      <tr>
        <td>{{ reflect.problem }}</td>
        <td>{{ reflect.create_user }}</td>
        <td><a href="{% url 'reflect:p_update' reflect.pk %}">編集</a></td>
        <td><a href="{% url 'reflect:p_delete' reflect.pk %}">削除</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
