{% extends 'account/base.html' %} {% block title %}<title>
  振り返り-アイディア発想支援
</title>
{% endblock title %}
<!--ヘッダー-->{% block header %}
<p>
  <span id="page-title">アイディアの振り返り</span>
  　どうして納得いかなかったのか論点を定めましょう(上)　その論点について、話し合いを行い(真ん中)、最後に問題点としてまとめましょう(下)　
  <a
  class="btn btn-secondary btn-sm"
  href="{% url 'account:top' %}#jump_reflect"
  role="button"
  >ヘルプ</a
</p>
{% endblock header %} {% block content %}
<!--論点を表示する-->
<div class="container">
  <table class="table caption-top">
    <caption>
      振り返り論点一覧
    </caption>
    <thead class="thead-color">
      <tr>
        <th scope="col">論点</th>
        <th>user</th>
        <th></th>
        <th>
          <a
            class="btn btn-primary btn-sm"
            href="{% url 'reflect:create' %}"
            role="button"
            >論点の新規作成</a
          >
        </th>
      </tr>
    </thead>
    <tbody>
      {% for reflect in Issues %}
      <tr>
        <td>{{ reflect.issues }}</td>
        <td>{{ reflect.create_user }}</td>
        <td>
          <a
            class="btn btn-outline-primary btn-sm"
            href="{% url 'reflect:update' reflect.pk %}"
            role="button"
            >編集</a
          >
        </td>
        <td>
          <a
            class="btn btn-danger btn-sm"
            href="{% url 'reflect:delete' reflect.pk %}"
            role="button"
            >削除</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!--コメントを表示する-->
<div class="container">
  <table class="table caption-top">
    <caption>
      コメント一覧
    </caption>
    <thead class="thead-color">
      <tr>
        <th scope="col">論点</th>
        <th scope="col">コメントタイプ</th>
        <th scope="col">コメント内容</th>
        <th>user</th>
        <th></th>
        <th>
          <a
            class="btn btn-primary btn-sm"
            href="{% url 'reflect:c_create' %}"
            role="button"
            >コメントの新規作成</a
          >
        </th>
      </tr>
    </thead>
    <tbody>
      {% for reflect in reflect_contents_list %}
      <!--コメントタイプでif-->
      {% if reflect.get_comment_type_display == 'ポジティブ' %}
      <tr class="table-warning">
      {% elif reflect.get_comment_type_display == 'ネガティブ' %}
      <tr class="table-primary">
      {% else %}
      <tr class="table-danger">
      {% endif %}

        <td>{{ reflect.ref_issues }}</td>
        <td>{{ reflect.get_comment_type_display }}</td>
        <td>{{ reflect.comment_content }}</td>
        <td>{{ reflect.create_user }}</td>
        <td>
          <a
            class="btn btn-outline-primary btn-sm"
            href="{% url 'reflect:c_update' reflect.pk %}"
            role="button"
            >コメント内容の編集</a
          >
        </td>
        <td>
          <a
            class="btn btn-danger btn-sm"
            href="{% url 'reflect:c_delete' reflect.pk %}"
            role="button"
            >削除</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!--振り返り問題点の表示-->
<div class="container">
  <table class="table caption-top">
    <caption>
      問題点
    </caption>
    <thead class="thead-color">
      <tr>
        <th scope="col">問題点</th>
        <th>user</th>
        <th></th>
        <th>
          <a
            class="btn btn-primary btn-sm"
            href="{% url 'reflect:p_create' %}"
            role="button"
            >問題点の新規投稿</a
          >
        </th>
      </tr>
    </thead>
    <tbody>
      {% for reflect in problem_contents_list %}
      <tr>
        <td>{{ reflect.problem }}</td>
        <td>{{ reflect.create_user }}</td>
        <td>
          <a
            class="btn btn-outline-primary btn-sm"
            href="{% url 'reflect:p_update' reflect.pk %}"
            role="button"
            >編集</a
          >
        </td>
        <td>
          <a
            class="btn btn-danger btn-sm"
            href="{% url 'reflect:p_delete' reflect.pk %}"
            role="button"
            >削除</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
